{% extends "base.html" %}

{% block content %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12">
                <h1>Error</h1>
                <p>{{ message }}</p>
                <!-- A variável 'message' é passada para o template a partir da sua view -->
                <a href="{% url 'home' %}">Voltar para a página inicial</a>
                <!-- 'home' é um nome de URL de exemplo. Substitua pelo nome da URL da sua página inicial -->
            </div>
        </div>
    </div>
{% endblock %}