{% extends "base.html" %}
{% load static %}
{% block content %}
    <section>
        <h2 class="mb-4">Lojas Parceiras</h2>
        <div class="row">
            {% for shop in premium_shops %}
                <div class="col-md-3 mb-4">
                    <div class="card h-100 border-0">
                        <a href="{% url 'shop_details' shop.id %}">
                            <div class="card-img-top">
                                {% if shop.logo %}
                                    <img src="{{ shop.logo.url }}" alt="{{ shop.name }}" class="img-fluid">
                                {% else %}
                                    <img src="{% static 'images/no-image.png' %}" alt="{{ shop.name }}"
                                         class="img-fluid">
                                {% endif %}
                            </div>
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">{{ shop.name }}</h5>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>

    <nav class="mt-5">
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'create_sale' %}">Novo Código</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'enter_purchase_code' %}">Rastrear Código</a>
            </li>
        </ul>
    </nav>

{% endblock %}
