{% extends "base.html" %}
{% block content %}
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-body">
                        <h1 class="card-title display-4 text-primary">Bem-vindo, {{ shop.name }}!</h1>
                        <p class="lead"><strong>E-mail:</strong> {{ shop.email }}</p>
                        <p class="lead"><strong>Saldo de Pontos:</strong> {{ shop.points_balance }}</p>
                        <hr>
                        <section>
                            <h2 class="card-title display-5">Relatórios</h2>
                            <p class="lead">Clique no botão abaixo para gerar e baixar o relatório de vendas em formato
                                CSV:</p>
                            <form method="post" action="{% url 'generate_csv_report' shop.id %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-primary btn-lg">Gerar Relatório</button>
                            </form>
                        </section>
                        <section class="mt-4">
                            <h2 class="card-title display-5">Referral</h2>
                            <p class="lead">Clique no botão abaixo para copiar seu link de referência:</p>
                            <button id="copyButton" type="button" class="btn btn-primary btn-lg">Copiar Link de
                                Referência
                            </button>
                        </section>
                        <script>
                            document.addEventListener('DOMContentLoaded', function () {
                                var copyButton = document.getElementById('copyButton');

                                var currentHost = window.location.origin;
                                var urlToCopy = currentHost + "/order/?referral={{ shop.referral }}";

                                function copyUrlToClipboard() {
                                    var input = document.createElement('input');
                                    input.value = urlToCopy;
                                    document.body.appendChild(input);

                                    input.select();

                                    document.execCommand('copy');

                                    document.body.removeChild(input);

                                    alert('Link de referência copiado: ' + urlToCopy);
                                }

                                copyButton.addEventListener('click', copyUrlToClipboard);
                            });
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
