{% extends "base.html" %}

{% block content %}
    <div class="container mt-5">
        <h2>Detalhes da Loja</h2>

        <div>
            <strong>Nome da Loja:</strong> {{ store.name }}
        </div>
        <div>
            <strong>Contato:</strong> {{ store.email }}
        </div>
        <div>
            <strong>Número de vendas:</strong> {{ sales_count }}
        </div>
        <form action="{% url 'generate_sale' store.id %}" method="post">
            {% csrf_token %}
            <button type="submit">Gerar Venda</button>
        </form>
    </div>
{% endblock %}